<main>
  <div>
    <button mat-icon-button (click)="this.planningService.backwardOneWeek();">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>{{planningService.weekOffset}}</span>
    <button mat-icon-button (click)="this.planningService.forwardOneWeek();">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <span *ngFor="let d of planningService.datesInWeek">{{d.getDate()}}</span>
  <div id="calenderContent" cdkDropListGroup>
    <div cdkDropList class="example-list" *ngFor="let dayOfData of displayElements"
         (cdkDropListDropped)="onDrop($event)"
         (cdkDropListSorted)="onDragStartedSameCol($event)"
         (cdkDropListEntered)="onDragStartedCrossCol($event)"
         [cdkDropListData]="dayOfData">
      <ng-container *ngFor="let data of dayOfData">
        <!--Blank-->
        <div *ngIf="data.isBlank; else classBlock" class="schedule-cell blank-cell" [cdkDragDisabled]="true"
             [ngStyle]="{'height': cellHeight*data.duration + 'px'}" cdkDrag>
              <!--<div class="drag-placeholder" *cdkDragPlaceholder></div>-->
        </div>
        <ng-template #classBlock>
          <div class="schedule-cell class-cell" cdkDrag [ngStyle]="{'height': cellHeight*data.duration + 'px'}">
            <div>
              <p>{{data.courseName}}</p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</main>
