main{
  padding: 10px;
}

#members-list{
  display: flex;
  flex-direction: row;

}
.not-selected{
  flex-wrap: wrap;
}

.selected{
  flex-wrap: nowrap;
  overflow-x: auto;
}

.example-card {
  margin: 5px;
}

.selected-card{
  background-color: #caffdc;
}
