<main>
  <div style="display: flex; justify-content: center; margin-bottom: 15px">
    <button mat-raised-button *ngIf="!displayTeachers" color="primary" (click)="toggleShowingTeachers()">Showing
      Students
    </button>
    <button mat-raised-button *ngIf="displayTeachers" color="primary" (click)="toggleShowingTeachers()">Showing
      Teachers
    </button>
  </div>
  <div id="members-list"
       [ngClass]="{
       'not-selected':!isMemberSelected(),
       'selected':isMemberSelected()}">
    <ng-container *ngFor="let member of displayingMembers">
      <mat-card class="example-card" [ngClass]="{'selected-card' : member === selectedMember}"
                (click)="selectMember(member)">
        <mat-card-header>
          <mat-card-title>{{member.nickname}}</mat-card-title>
          <mat-card-subtitle>{{member.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <span></span><br>
        </mat-card-content>
        <mat-card-actions>
          <div style="display: flex; justify-content: space-evenly; width: 100%">
            <button mat-button>Info</button>
            <button mat-button>Settings</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</main>
