main{
  padding: 10px;
}
#options-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#members-list::-webkit-scrollbar {
  display: none;
}
#members-list{
  display: flex;
  flex-direction: row;
}
.not-selected{
  flex-wrap: wrap;
}

.selected{
  flex-wrap: nowrap;
  overflow-x: auto;
}

.example-card {
  margin: 5px;
}

.selected-card{
  background-color: #caffdc;
}
