<h2 mat-dialog-title>New Member</h2>
<mat-dialog-content>
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]=isEditable>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Basic Info</ng-template>
        <p style="margin-top: 10px">
          <mat-slide-toggle [(ngModel)]="isTeacher">Teacher</mat-slide-toggle>
          <br><br>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="nameCtrl" [(ngModel)]="name" placeholder="John Smith" required>
            <mat-hint>First name, Last name</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Nick-name</mat-label>
            <input matInput formControlName="nicknameCtrl" [(ngModel)]="nickname" placeholder="Johnny923" required>
            <mat-hint>Visible to everyone</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="passwordCtrl" [(ngModel)]="password" placeholder="" required>
          </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]=isEditable>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Contact Infos</ng-template>
        <p style="margin-top: 10px">
          <mat-form-field appearance="outline">
            <mat-label>Tel</mat-label>
            <input matInput type="tel" formControlName="phoneCtrl" [(ngModel)]="phone" placeholder="123-456-7890" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="emailCtrl" [(ngModel)]="email" placeholder="Ex. pat@example.com" required>
          </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="" (click)="closeDialog()">Close</button>
</mat-dialog-actions>
