<main>
  <div id="login_wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Nickname</mat-label>
      <input matInput type="text" [(ngModel)]="nickname">
      <button *ngIf="nickname" matSuffix mat-icon-button aria-label="Clear" (click)="nickname=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password">
      <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-card *ngIf="authService.wrongTries>0" style="margin-bottom: 15px">
      <mat-card-content>Invalid Nickname or Password</mat-card-content>
    </mat-card>

    <!--    <mat-slide-toggle-->
    <!--      color="primary"-->
    <!--      [checked]="hidePassword"-->
    <!--      (click)="hidePassword = !hidePassword">-->
    <!--    </mat-slide-toggle>-->

    <p style="margin-top: 15px">
      <button mat-stroked-button color="primary" (click)="login()">Login</button>
    </p>
  </div>
</main>
