<button [matBadgeHidden]="shouldHideBadge()" [matMenuTriggerFor]="menu" mat-stroked-button
        matBadge="{{messageService.numberOfMessages()}}" matBadgeColor="warn">
  <span>{{authService.self?.nickname}}</span>
  <div style="width: 0.2em"></div>
  <mat-icon *ngIf="authService.self?.isTeacher" fontIcon="settings_accessibility"></mat-icon>
  <mat-icon *ngIf="!authService.self?.isTeacher" fontIcon="boy"></mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button (click)="openDialog()" mat-menu-item>
    <mat-icon [matBadgeHidden]="shouldHideBadge()" matBadge="{{messageService.numberOfMessages()}}"
              matBadgeColor="warn">mail
    </mat-icon>
    <span>Messages</span>
  </button>
  <button (click)="authService.logout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
