<button [matMenuTriggerFor]="menu" mat-stroked-button matBadge="{{messageService.numberOfMessages()}}"
        [matBadgeHidden]="shouldHideBadge()" matBadgeColor="warn">
  <span>{{authService.self?.nickname}}</span>
  <div style="width: 0.2em"></div>
  <mat-icon *ngIf="authService.self?.isTeacher" fontIcon="settings_accessibility"></mat-icon>
  <mat-icon *ngIf="!authService.self?.isTeacher" fontIcon="boy"></mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon matBadge="{{messageService.numberOfMessages()}}" [matBadgeHidden]="shouldHideBadge()"
              matBadgeColor="warn">mail
    </mat-icon>
    <span>Messages</span>
  </button>
  <button mat-menu-item (click)="authService.logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
