<main>
  <ng-container *ngFor="let post of posts">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.authorNickName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{post.content}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

</main>
