<main *ngIf="relatedMember != null">
  <mat-card (click)="showBottomSheet()" class="example-card">
    <mat-card-header>
      <mat-card-title>{{relation.courseName}}</mat-card-title>
      <mat-card-subtitle>
        <app-member-cell (click)="preventShowDetail()" [member]="relatedMember"></app-member-cell>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div style="height: 5px;"></div>
      <span>Duration: {{relation.duration}} Hours</span><br>
      <span>{{relation.classPerWeek}} per week</span>
    </mat-card-content>
  </mat-card>
</main>
