<main>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Choose a member to work on</mat-card-subtitle>
      <mat-card-title *ngIf="!displayTeachers">Students</mat-card-title>
      <mat-card-title *ngIf="displayTeachers">Teachers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [ngClass]="{
       'not-selected':!isMemberSelected(),
       'selected':isMemberSelected()}"
           id="members-list">
        <ng-container *ngFor="let member of displayingMembers">
          <mat-card (click)="selectMember(member)" [matBadgeHidden]="!isMemberMarked(member)" [ngClass]="{'selected-card' : member === selectedMember}" class="example-card"
                    matBadge="!"
                    matBadgeColor="warn">
            <mat-card-header>
              <mat-card-title>{{member.nickname}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-subtitle>{{member.name}}</mat-card-subtitle>
              <div style="min-height: 15px"></div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div id="options-bar">
        <button (click)="toggleShowingTeachers()" *ngIf="!displayTeachers" color="primary" mat-raised-button>Show
          Teachers
        </button>
        <button (click)="toggleShowingTeachers()" *ngIf="displayTeachers" color="primary" mat-raised-button>Show
          Students
        </button>

        <ng-container *ngIf="isMemberMarked(selectedMember) && isMemberSelected()">
          <button (click)="unmarkMember(selectedMember)" color="primary" mat-raised-button>Unmark member</button>
        </ng-container>
        <ng-container *ngIf="!isMemberMarked(selectedMember) && isMemberSelected()">
          <button (click)="markMember(selectedMember)" color="accent" mat-raised-button>Mark member</button>
        </ng-container>

        <div style="flex: 1"></div>

        <button (click)="markAllMembers()" color="accent" mat-stroked-button>Mark all</button>
        <button (click)="unmarkAllMembers()" *ngIf="markedMembersNames.length > 0" color="primary" mat-stroked-button>
          Unmark all
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</main>
