main {
  padding: 10px;
}

#options-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

#members-list::-webkit-scrollbar {
  display: none;
}

#members-list {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.not-selected {
  flex-wrap: wrap;
}

.selected {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.example-card {
  margin: 15px 5px 2px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(64, 80, 181, 0.55);
}

.selected-card {
  color: black;
  background-color: #caffdc;
}
