<main>
<button [matMenuTriggerFor]="menu" id="main-card" mat-stroked-button>{{member.nickname}}
  <mat-icon *ngIf="!member.isTeacher" class="example-tab-icon">boy</mat-icon>
  <mat-icon *ngIf="member.isTeacher" class="example-tab-icon">settings_accessibility</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>mail</mat-icon>
    <span>Send Message</span>
  </button>
  <button mat-menu-item>
    <mat-icon>calendar_month</mat-icon>
    <span>Show Schedule</span>
  </button>
  <button mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>Details</span>
  </button>
</mat-menu>
</main>
