<main>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" style="width: 100%">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">edit_calendar</mat-icon>
        Class Planning
      </ng-template>
      <app-member-picker (memberSelected)="selectMember($event)"></app-member-picker>
      <app-class-planner *ngIf="memberSelected()"></app-class-planner>
    </mat-tab>
    <mat-tab label="Messages">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">mail</mat-icon>
        <app-messages></app-messages>
      </ng-template>
      Content 2
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">admin_panel_settings</mat-icon>
        Management
      </ng-template>
      Content 3
    </mat-tab>
  </mat-tab-group>
</main>
