<main>
  <mat-tab-group mat-align-tabs="start" mat-stretch-tabs="false" style="width: 100%">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">edit_calendar</mat-icon>
        Class Planning
      </ng-template>
      <app-admin-class-planner></app-admin-class-planner>
    </mat-tab>
    <mat-tab label="Messages">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">forum</mat-icon>
        Forum
      </ng-template>
      <app-forum></app-forum>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">admin_panel_settings</mat-icon>
        Management
      </ng-template>
      <app-admin-management></app-admin-management>
    </mat-tab>
  </mat-tab-group>
</main>
